.dialog-modal {
  &.MuiDialog-root {
    top: var(--app-header-height);
  }

  .MuiBackdrop-root {
    top: var(--app-header-height);
  }

  &__close-btn {
    &.MuiButtonBase-root {
      height: auto;
      min-width: auto;
      padding: 0;
      color: rgb(var(--app-color-light));
      box-shadow: none;
    }
  }
}
