@use "styles/mixins.scss" as mixins;

.payment-calculation {
  &__button {
    &.MuiButtonBase-root {
      color: rgb(var(--app-color-light));
      background-color: rgb(var(--app-color-dark3));
      width: 100%;
      padding-inline: 4px;
      font-size: 12px;
      min-width: auto;
      height: 36px;
      box-shadow: none;

      @include mixins.media(mobile) {
        font-size: 16px;
        height: 42px;
        padding-inline: 10px;
      }
    }
  }
}
