@use "styles/mixins.scss" as mixins;
@use "styles/extend-styles.scss";

.sort-toggle {
  &__button {
    &.MuiButtonBase-root {
      @extend %resetSizesButton;

      border-radius: 4px;
      color: rgb(var(--app-color-light));
      background-color: rgb(var(--app-color-dark3));
      padding: 4px;
      width: 24px;
      height: 24px;

      @include mixins.media(tablet) {
        width: 42px;
        height: 42px;
      }
    }

    svg {
      font-size: 16px;

      @include mixins.media(tablet) {
        font-size: 28px;
      }
    }
  }

  &__menu {
    .MuiPaper-root {
      background-color: rgb(var(--app-color-dark3));
    }

    .MuiList-root {
      padding: 0;
      width: 120px;
    }
  }

  &__menu-item {
    &.MuiButtonBase-root {
      font-weight: 800;
      font-size: 14px;

      &.Mui-selected {
        background-color: rgb(var(--app-color-primary));

        &:hover {
          background-color: rgb(var(--app-color-primary));
        }
      }
    }
  }
}
