@use "styles/mixins.scss" as mixins;
.transaction-table {
  padding-left: 12px;

  @include mixins.media(tablet) {
    padding-left: 0;
  }

  &.MuiTableContainer-root {
    width: auto;
    margin-right: -20px;

    @include mixins.media(tablet) {
      margin-right: 0;
    }
  }

  .MuiTable-root {
    border-spacing: 16px 16px;
    width: 610px;

    @include mixins.media(mobile) {
      width: 690px;
    }

    @include mixins.media(tablet) {
      width: 100%;
    }
  }
}
