@use "styles/mixins.scss" as mixins;

.payment-deposit {
  .promo-code {
    @include mixins.media(mobile) {
      margin-bottom: 12px;
    }

    &__row {
      @include mixins.media(mobile, max) {
        grid-template-columns: 1fr 85px;
        gap: 16px;
      }
    }

    &__button {
      &.MuiButtonBase-root {
        @include mixins.media(mobile, max) {
          height: 36px;
        }
      }
    }
  }
}
