@use "styles/mixins.scss" as mixins;

.transaction-row {
  &__cell {
    &:nth-child(1) {
      width: 48px;

      @include mixins.media(tablet, max) {
        display: none;
      }
    }

    &:nth-child(2) {
      width: 94px;
      max-width: 94px;

      @include mixins.media(mobile) {
        width: 100px;
        max-width: 100px;
      }

      @include mixins.media(tablet) {
        width: 20%;
        max-width: 20%;
      }

      @include mixins.media(desktop) {
        max-width: 250px;
        width: 250px;
      }
    }

    &:nth-child(3) {
      width: 86px;
      max-width: 86px;

      @include mixins.media(mobile) {
        width: 100px;
        max-width: 100px;
      }

      @include mixins.media(tablet) {
        width: 20%;
        max-width: 20%;
      }

      @include mixins.media(desktop) {
        width: 258px;
        max-width: 258px;
      }
    }

    &:nth-child(4) {
      width: 130px;
      max-width: 130px;

      @include mixins.media(mobile) {
        width: 120px;
        max-width: 120px;
      }

      @include mixins.media(tablet) {
        width: 20%;
        max-width: 20%;
      }

      @include mixins.media(desktop) {
        width: 270px;
        max-width: 270px;
      }
    }

    &:nth-child(5) {
      width: 160px;
      max-width: 160px;

      @include mixins.media(mobile) {
        width: 120px;
        max-width: 120px;
      }

      @include mixins.media(tablet) {
        width: 20%;
        max-width: 20%;
      }

      @include mixins.media(desktop) {
        width: 208px;
        max-width: 208px;
      }
    }

    &:nth-child(6) {
      width: 150px;
      max-width: 150px;

      @include mixins.media(tablet, max) {
        display: none;
      }

      @include mixins.media(tablet) {
        width: 14%;
        max-width: 14%;
      }

      @include mixins.media(desktop) {
        width: 150px;
        max-width: 150px;
      }
    }
  }

  &__logo {
    border-radius: 10px;
    background-color: rgb(var(--app-color-dark3));
    padding: 4px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      max-height: 24px;
    }
  }

  &__title {
    &.MuiTypography-root {
      font-weight: 800;
      font-size: 12px;

      @include mixins.media(tablet_lg) {
        font-size: 16px;
      }
    }
  }

  &__head {
    &.MuiTypography-root {
      font-size: 10px;
      color: rgb(var(--app-color-light) / 0.6);

      @include mixins.media(tablet_lg) {
        font-size: 14px;
        color: rgb(var(--app-color-light) / 0.5);
      }
    }
  }
}
