%absoluteButtonToggler {
  &.MuiButtonBase-root {
    position: absolute;
    inset: 0;
    box-shadow: none;
    height: 100%;
  }
}

%resetSizesButton {
  height: auto;
  min-width: auto;
  padding: 0;
  box-shadow: none;
}
