@use "./breakpoints.scss" as breakpoints;

:root {
  --app-color-light: 255 255 255; // #FFFFFF
  --app-color-beige: 246 247 250; // #F6F7FA
  --app-color-black: 0 0 0; // #000000
  --app-color-dark1: 32 35 41; // #202329
  --app-color-dark2: 32 36 42; // #20242A
  --app-color-dark3: 48 54 62; // #30363E
  --app-color-primary: 45 105 235; // #2D69EB
  --app-color-primary-light: 76 132 255; // #4C84FF
  --app-color-secondary: 249 72 75; // #F9484B
  --app-color-violet: 198 140 255; // #C68CFF
  --app-color-orange: 198 149 22; // #C69516
  --app-color-green: 0 186 97; // #00BA61
  --app-color-blue: 38 88 215; // #2658D7
  --app-color-grey: 144 145 148; // "#909194

  --app-header-height: 64px;
}

@media (min-width: breakpoints.$tablet_lg) {
  :root {
    --app-header-height: 84px;
  }
}
