@use "styles/mixins.scss" as mixins;

.header {
  box-shadow: 0 2px 7px 0 rgb(var(--app-color-black) / 0.72);
  background-color: rgb(var(--app-color-dark2));
  min-height: 64px;
  display: flex;
  padding-block: 16px;

  @include mixins.media(tablet_lg) {
    min-height: 84px;
  }

  &__container {
    &.MuiContainer-root {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    position: relative;
    top: -4px;

    @include mixins.media(tablet_lg) {
      width: 34px;
      height: 42px;
    }
  }
}
